@import '../../../styles/sass/main.scss';

.container {
  background-color: $white;
  display: flex;
  padding: 40px;
  flex-direction: column;

  h1 {
    font-size: $text;
    font-weight: 300;
  }

  .cOverviem {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: start;

    .cardAdd {
      background-color: $yellow-400;
      color: $black;
      width: 279px;
      cursor: pointer;

      p{
        margin-top: -33px;

      }
    }
  }
}
