@import '../../styles/sass/main.scss';

.form {
  display: flex;
  flex-direction: column;
  text-align: initial;

  input {
    background-color: $Grey;
    border-radius: 30px;
    width: 100%;
    height: 35px;
    font-size: $placeholder;
    border: 2px solid transparent;
    text-indent: 12px;
    margin-bottom: 30px;
    font-family: Montserrat, sans-serif;

    &:focus-within {
      border: 1.5px solid $pink-300;
      outline: none;
      transition: ease-in 0.2s;
    }
  }

  label {
    font-size: $label;
    font-weight: 600;
    line-height: 35px;
    text-indent: 8px;
  }
}
