@import '../../styles/sass/main.scss';

.form {
  display: flex;
  flex-direction: column;
  text-align: initial;

  input {
    background-color: $Grey;
    border-radius: 30px;
    width: 100%;
    height: 35px;
    font-size: $placeholder;
    border: none;
    text-indent: 12px;
  }

  label {
    font-size: $label;
    font-weight: 600;
    line-height: 35px;
    text-indent: 8px;
  }
}
