@import '../../../styles/sass/main.scss';

.container {
  display: flex;
  flex-direction: column;

  input {
    background-color: $Grey;
    border-radius: 30px;
    width: 310px;
    height: 35px;
    font-size: $placeholder;
    border: none;
    margin-bottom: 30px;
    text-indent: 12px;
  }

  label {
    font-size: $label;
    font-weight: 600;
    line-height: 35px;
    text-indent: 8px;
  }
}

.containerOption {
  display: grid;
  grid-template-rows: repeat(2, 0fr);
  justify-items: center;

  h1 {
    color: $yellow-300;
    font-size: $subtitle;
    font-weight: 600;
  }
}
