@import "../../../styles/sass/main.scss";


.container{
    display: flex;
    flex-direction: column;  

        input{
            background-color: #E5E5E5;
            border-radius: 30px;
            width: 310px;
            height: 35px;
            font-size: 14px;
            border: none;
            margin-bottom: 30px;
            text-indent: 12px;

        }
    
        label{
            font-size: 16px;
            font-weight: 600;
            line-height: 35px;
            text-indent: 8px;
        
        }

}

.containerOption{
    display: grid;
    grid-template-rows: repeat(2, 0fr);
    justify-items: center;


    h1{
        color: #FFF200;
        font-size: 32px;
        font-weight: 600;
    }

    .btnStudent{
        color: #550084;
        background-color: #BA3EFF;
        border-radius: 30px;
        border: #BA3EFF 2px solid;
        width: 210px;
        height: 35px;
        font-size: 16px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;

    
    }

    .btnTeacher{
        color: #f5f5f5;
        border-radius: 30px;
        border: #BA3EFF 2px solid;
        width: 210px;
        height: 35px;
        font-size: 16px;
        font-weight: 600;
        margin: 10px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

   
}