@import '../../styles/sass/main.scss';

.card {
  gap: 16px;
  padding: 9px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 800px;
  margin-left: 24px;
  height: 93px;
  border-radius: 20px;
  border: #0019fd 2px solid;
  border-left: #0019fd 12px solid;

  &:hover {
    background-color: #d7e9ff;
    transition: 0.5s;
    cursor: pointer;
  }

  .circle {
    background: #dededf;
    border-radius: 50%;
    width: 63px;
    height: 63px;
  }

  .content {
    .highlight {
      font-size: $text;
      color: $blue-300;
      font-weight: bold;
    }
    display: flex;
    flex-direction: column;

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 650px;

      h2 {
        font-size: $bigText;
        font-weight: bolder;
        margin: 0;
      }
      span {
        font-size: 10px;
        color: #b1b1b1;
        font-weight: bold;
      }
    }
  }
}
