@import '../../../styles/sass/main.scss';

.container {
  display: flex;
  flex-direction: column;

  input {
    margin-bottom: 0px;
  }

  .btnLogin {
    color: $purple-100;
    background-color: $white;
    border: solid 2px $purple-300;
    width: 310px;
    margin: 10px 0;
  }

  .btnNext {
    color: $black;
    background-color: $yellow-400;
    border: solid 2px $yellow-400;
    width: 310px;
  }

  .cCheck {
    display: grid;
    grid-template-columns: 0fr 1fr;
    align-items: start;
    font-size: 10px;

    p {
      line-height: 0.2rem;
      margin-bottom: inherit;
    }

    a {
      color: $blue-600;
      line-height: 2;
    }
  }
  .error {
    height: 20px;
    color: rgb(255, 0, 255);
    font-size: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
  }

  .sucess {
    height: 30px;
    text-align: center;

    h3 {
      background-color: rgb(62, 236, 74);
      color: $black;
      border-radius: 30px;
      padding: 10px;
    }
  }
}
