@import "../../../styles/sass/main.scss";

.container{
    display: flex;
    flex-direction: column;

input{
    background-color: #E5E5E5;
    border-radius: 30px;
    width: 310px;
    height: 35px;
    font-size: 14px;
    border: none;
    margin-bottom: 30px;
    text-indent: 12px;
}

label{
    font-size: 16px;
    font-weight: 600;
    line-height: 35px;
    text-indent: 8px;

}

}










