@import '../../../../styles/sass/main.scss';

.container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  min-height: 100vh;
  background-color: $purple-800;
  padding: 20px 160px 20px 160px;
  justify-items: center;

  .containerForm {
    background-color: $white;
    padding: 60px;
    border-radius: 96px;
    height: max-content;

    .step {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;

      hr {
        width: 100%;
      }
    }
  }
}

.containerOption {
  display: grid;
  grid-template-rows: repeat(3, 0fr);
  justify-items: center;
  align-items: center;

  h1 {
    color: $yellow-300;
    font-size: $subtitle;
    font-weight: 600;
  }

  .btnStudent {
    color: $white;
    width: 230px;
    border: $blue-300 2px solid;
  }

  .btnTeacher {
    color: $purple-800;
    background-color: $blue-300;
    border: $blue-300 2px solid;
    width: 230px;
    margin: 10px 0;
  }

  .btnStudent:active {
    color: $purple-800;
    background-color: #ba3eff;
    border: #ba3eff 2px solid;
  }

  .btnTeacher:active {
    color: $white;
    border: #ba3eff 2px solid;
    background-color: transparent;
  }

  img {
    height: 500px;
  }
}
