@import "../../../../styles/sass/main.scss";

.container{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    min-height: 100vh;
    background-color: #45006B;
    padding: 20px 160px 20px 160px;
    justify-items: center;

    .containerForm{
        background-color: #fff;
        padding: 60px;
        border-radius: 96px;
        height: max-content;

    
        .step{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
    
          hr{
            width: 100%;
          }
    
        }
    }
}

.containerOption{
    display: grid;
    grid-template-rows: repeat(3, 0fr);
    justify-items: center;


    h1{
        color: #FFF200;
        font-size: 32px;
        font-weight: 600;
    }

    .btnStudent{
        color: #f5f5f5;
        border-radius: 30px;
        border: #4A7DFF 2px solid;
        width: 210px;
        height: 35px;
        font-size: 16px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;

    
    }

    .btnTeacher{
        color: #550084;
        background-color: #4A7DFF;
        border-radius: 30px;
        border: #4A7DFF 2px solid;
        width: 210px;
        height: 35px;
        font-size: 16px;
        font-weight: 600;
        margin: 10px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    img{
        height: 500px;        
    }
}