// Responsive variables
$mobile: 540px;
$tablet: 1024px;
$desktop: 1280px;

// Color palette

// Black and white
$white: #F5F5F5;
$black: #252525;

// Purples
$purple-800: #550084;
$purple-600: #6C0BA2;
$purple-300: #9813E1;
$purple-200: #830AC6;
$purple-100: #BA3EFF;

// Pinks
$pink-800: #8C0076;
$pink-600: #AC0391;
$pink-400: #E408C1;
$pink-500: #CD00AD;
$pink-300: #FF33DF;

// Blues
$blue-800: #000E88;
$blue-600: #1524A7;
$blue-400: #203FE2;
$blue-500: #2315CA;
$blue-300: #4A7DFF;

// Yellows
$yellow-800: #C67700;
$yellow-600: #EBC301;
$yellow-400: #FDE400;
$yellow-500: #FFD300;
$yellow-300: #FFF433;

// Font-size
$bigTitle: 48px;
$title: 40px;
$subtitle: 32px;
$bigText: 24px;
$text: 16px;
