.container {
  background-color: #550084;
  width: 100%;
  height: auto;
  padding: 80px;
  border-bottom-left-radius: 108% 38%;
  border-bottom-right-radius: 40% 22%;

  h1 {
    color: #fff433;
    font-style: normal;
    width: auto;
    font-weight: 700;
    font-size: 3rem;
    line-height: 100%;
    letter-spacing: -0.02em;
    margin-bottom: 40px;
  }

  h6 {
    width: auto;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 0.02em;
    margin-bottom: 40px;
  }

  .subtitle {
    color: #fff;
    font-weight: 700;
  }

  p {
    color: #fff;
    span {
      color: #33c3df;
      font-weight: 700;
    }
  }

  .imgHeader {
    position: absolute;
    top: 0;
    left: 680px;
    height: auto;
    width: max-content;

    img {
      width: 600px;
      height: auto;
    }
  }
}
