@import '../../../../styles/sass/main.scss';
.container {
    padding: 200px 40px;

    @include mobile {
      padding: 100px 16px;
    }
  .title {
    display: flex;
    font-size: $title;
    justify-content: center;
    margin-bottom: 130px;

    @include mobile {
      font-size: $subtitle;
      text-align: center;
    }
  }
  .innerContainer {
    display: flex;
    justify-content: space-evenly;

    @include mobile {
        flex-wrap: wrap;
        gap: 32px;
    }
    img {
      @include mobile {
        width: 80px;
        height: 80px;
      }
    }
  }
  .btn {
    display: flex;
    justify-content: center;
    margin-top: 120px;

    button {
      background-color: $yellow-500;
      border-radius: 50px;
      border: none;
      font-weight: bold;
      height: 60px;
      width: 340px;
      font-size: $text;
    }
  }
}
