@import '../../../../../styles/sass/main.scss';

.btn {
  color: $yellow-300;
  border-radius: 30px;
  background-color: $pink-500;
  border: $pink-500 2px solid;
  width: 210px;
  height: 35px;
  font-size: $text;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
