@import "../../../../../styles/sass/main.scss";

.btn{
    color: rgb(8, 8, 8);
    background-color: #FDE400;
    border: solid 2px #FDE400;
    width: 310px;
    height: 35px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}