@import '../../../../styles/sass/main.scss';

.card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0 10px;
  border-radius: 100px;
  background-color: $blue-200;
  color: $black;
  width: 230px;
  height: 106px;
  align-content: center;
  align-items: center;

  div {
    height: -webkit-fill-available;

    span {
      font-size: $bigText;
      font-weight: 700;
    }

    h4 {
      font-size: $bigText;
      font-weight: 700;
    }

    p {
      font-size: $text;
      font-weight: 400;
      margin-top: -1px;
    }
  }

  img {
    height: auto;
  }
}
