@import '../../styles/sass/main.scss';

.container {
  background-color: $Grey;
  height: 20px;
  border-radius: 30px;
  padding: 10px;
  border: groove 2px;
  margin: 40px 0;

  input {
    border: none;
    background: none;
    float: right;
    padding: 0;
    font-size: $text;
    line-height: 22px;
    width: 764px;
    margin: 0 10px;
  }

  img {
    height: auto;
  }
}
