@import '../../../../styles/sass/main.scss';

.container {
  display: flex;

  .card {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 685px;
    height: 110px;
    border-radius: 20px;
    background-color: $white;
    border: groove 2px;
    padding: 10px 24px;
    border-left: #ac0391 12px solid;

    .info {
      display: grid;
      grid-template-rows: 0fr 1fr;
      h2 {
        font-size: $bigText;
        font-weight: 700;
        line-height: 0.1;
      }

      p {
        font-size: $text;
        font-weight: 400;
        line-height: 0.1;
      }

      span {
        font-size: $text;
        color: $pink-600;
        margin-left: 8px;
        font-weight: 700;
      }
    }
    .date {
      display: grid;
      align-content: space-between;
      p {
        font-size: $x_small_label;
        font-weight: 300;
      }
    }
  }
}
