@import '../../styles/sass/main.scss';
.container {
    display: flex;
    background-color: $white;
  
    .innerContainer {
      max-height: 100vh;
      margin: auto;
      overflow: scroll;
  
      &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
        display: none;
      }
    }
}